h5py
matplotlib
scikit-learn
awkward>=2.5
energyflow
fastjet
jetnet
law
uproot>=5
weaver-core>=0.4
wandb
lightning
pytorch-lightning
torch>=1.11.0
torchvision>=0.11.0
lightning-bolts
numpy
scipy
scikit-learn
scprep
scanpy
torchdyn>=1.0.6   # 1.0.4 is broken on pypi
torchdiffeq
torchcfm
xgboost
hydra-colorlog==1.2.0
hydra-core==1.3.2
hydra-optuna-sweeper==1.2.0
tqdm
corner
functools
joblib